@charset "utf-8";

$blue: #356DD0;

body {
  background: #444;
  font-size: 1em;
}

.dark-logo {
  color: #fff;
}

.navbar-dark.bg-primary {
  background-color: $blue !important;
  .btn-outline-success {
    margin-top: 3px;
    border-color: rgba(255, 255, 255, 0.2);
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .navbar-brand {
    padding: 0;
    margin-right: 30px; font-size: 1.5em;
    img { height: 48px; margin-top: -4px; }
  }
  .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }


  .navbar-toggler {
    outline: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-size:  36px 36px;
    border: 0px;
  }
}

#main {
  padding: 40px 0;
  min-height: 100px;
  background: #FFF;

  @media (min-width: 960px) {
    min-height: 500px;
  }
}

p {
  line-height: 2em;
  margin-bottom: 1.2em;
}

h1, h2, h3 { line-height: 2em; }
h4, h5, h6 { line-height: 1.5em; }
h1 { text-align: center; }

ul, ol {
  li { line-height: 2em; }
}

blockquote {
  border-left: 5px solid #F3F4FE;
  padding-left: 20px;
}
pre {
  background: #F3F4FE;
  code {
    font-family: monaco;
    display: block;
    padding: 13px;
  }
}

table {
  width: 100%;
  margin-bottom: 2em;
  border: 1px solid #eee;
  thead th {
    background: #f9f9f9;
    color: #666;
  }
  th,
  td { padding: 0.5em; border-bottom: 1px solid #eee;}
}

footer {
  padding: 20px 0;
  color: #ddd;

  .dark-logo {
    margin-right: 10px;
    img { height: 26px; margin-bottom: 3px; color: #FFF; }
  }

  p:last-child { margin-bottom: 0; }
}

#welcome {
  text-align: center;
  padding: 40px 0;
  h1 {
    img { width: 500px; max-width: 80%; }
  }
  .sub-title { font-size: 1.2em; margin-bottom: 10px; }

  #try-button {
    margin-top: 20px;
    .btn-primary { margin-right: 10px; }
    .btn-lg {
      border-radius: 120px;
      font-size: 1em;
    }
  }

  @media (min-width: 960px) {
    .sub-title { font-size: 2.3em; margin-bottom: 20px; }
    #try-button {
      margin-top: 50px;
      .btn-primary { margin-right: 40px; }
      .btn-lg {
        font-size: 2em;
      }
    }
  }
}

.home-features {
  border-top: 2px dashed #eee;
  padding: 40px 0;
  h3 { font-size: 1.5em; color: $blue; }
  p { margin: 0; }
}

.doc-menu {
  ul {
    padding-left: 0px;
  }
}
