<% wrap_layout :layout do %>
  <div class="row">
    <div class="col-md-3 doc-menu">
      <%= partial "menu" %>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
<% end %>
