---
title: Homeland
---
<div id="welcome">
  <h1><%= image_tag('text-logo.svg', alt: 'Homeland') %></h1>
  <div class="sub-title">Build your discussion website</div>
  <p>Open source, free, unrestricted community system for commercial freely use.</p>
  <p>Version: <a href="https://github.com/ruby-china/homeland/releases" target="_blank"><%= config[:version] %></a></p>
  <div id="try-button">
    <a class="btn btn-primary btn-lg" href="/expo" target="_blank">Show cases</a>
    <a class="btn btn-success btn-lg" href="/install">Download</a>
  </div>
</div>
<div class="row home-features">
  <div class="col-md-4">
    <h3>Exquisite forum function</h3>
    <p>Fullstack forum application, simple but not simple, and page browsing has a very fast response.</p>
  </div>
  <div class="col-md-4">
    <h3>Responsive</h3>
    <p>Supports display under different screen sizes, such as desktop platforms, iPad, iPhone and any mobile devices.</p>
  </div>
  <div class="col-md-4">
    <h3>Social network, real-time notification</h3>
    <p>Follow user, topic, notifications in real time, so you won’t miss every content you care about.</p>
  </div>
</div>
<div class="row home-features">
  <div class="col-md-4">
    <h3>Simple but rich</h3>
    <p>Markdown as the content format, Neat and beautiful reading page styles.</p>
  </div>
  <div class="col-md-4">
    <h3>Mention</h3>
    <p>You can use mention like Twitter.</p>
  </div>
  <div class="col-md-4">
    <h3>Emoji</h3>
    <p>Support use <a href="https://github.com/twitter/twemoji" target="_blank">Twemoji</a> and system emoji.</p>
  </div>
</div>
<div class="row home-features">
  <div class="col-md-4">
    <h3>Automated Free SSL</h3>
    <p>Integrate the automated free SSL, so that you can easily deploy as an HTTPS website.</p>
  </div>
  <div class="col-md-4">
    <h3>SSO</h3>
    <p>You can combine Homeland with any existing system to realize the Single Sign-on. You can also use Homeland as the SSO provider address to synchronize accounts and log in to other systems.</p>
  </div>
  <div class="col-md-4">
    <h3>Public API</h3>
    <p>Built-in API can develop your mobile applications based on it when you need it.</p>
  </div>
</div>
