<ul>
  <li>
    Configuration
    <ul>
      <li><a href="/docs/configuration/config-file">App configuration</a></li>
      <li><a href="/docs/configuration/modules">Modules</a></li>
      <li><a href="/docs/configuration/upload">Upload configuration</a></li>
    </ul>
  </li>
</ul>