<ul>
  <li>
    Configuration
    <ul>
      <li><a href="/docs/configuration/config-file">基本配置</a></li>
      <li><a href="/docs/configuration/modules">Modules</a></li>
      <li><a href="/docs/configuration/upload">文件上传配置</a></li>
      <li><a href="/docs/configuration/mailer">邮件服务配置</a></li>
    </ul>
  </li>
  <li>
    Single Sign On <sup>beta</sup>
    <ul>
      <li><a href="/docs/sso/as-client">通过三方应用实现 SSO 登录</a></li>
      <li><a href="/docs/sso/as-provider">提供 SSO 给三方应用</a></li>
    </ul>
  </li>
</ul>