<ul>
  <li>
    Configuration
    <ul>
      <li><a href="/docs/configuration/config-file">config/config.yml</a></li>
      <li><a href="/docs/configuration/upload">Upload configuration</a></li>
    </ul>
  </li>
</ul>