---
title: Homeland
---

<div id="welcome">
  <h1>Homeland</h1>
  <div class="sub-title">Build your discussion website</div>

  <div id="try-button">
    <a class="btn btn-primary btn-lg" href="http://try.gethomeland.com" target="_blank">Try Homeland</a>
    <a class="btn btn-success btn-lg" href="/install">Download</a>
  </div>
</div>